body {
    background-color: #000;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 10px;
    background-color: #222;
    border-bottom: 2px solid #00FF00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

nav a {
    color: #00FF00;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #00FF00;
    border-radius: 5px;
}

.content {
    padding: 20px;
}

footer {
    padding: 10px;
    background-color: #222;
    border-top: 2px solid #00FF00;
    display: flex;
    justify-content: space-around;
}

footer a {
    color: #00FF00;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
}

footer a:hover {
    border-bottom: 2px solid #00FF00;
}

.journal-container {
    display: flex;
}

.journal-navigation {
    flex: 1;
    padding: 20px;
    background-color: #222;
    border-right: 2px dashed #00FF00;
}

.journal-content {
    flex: 4;
    padding: 20px;
}

.journal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.dashed-line {
    border-top: 2px dashed #00FF00;
    margin: 20px 0;
}